html {
  background-color: black;
  font: 1em monospace;
  color: white;
}

img {
  display: block;
  margin: auto;
  margin-top: 5%;
  width: 30%;
  background-color: white;
  padding: 1px;
}

.center {
  text-align: center;
}

.left {
  display: inline-block;
  text-align: left;
  width: 30%;
  padding: 1em;
}

